{% extends 'baseback.html.twig' %}
{% block content %}



    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">
                                        <h4>Table d'utilisateurs</h4>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="page-header-breadcrumb">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"> <i class="feather icon-home"></i> </a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">Pages</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">Page Simple</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="page-body">

                        <div class="card">
                            <div class="card-header">
                                <h5></h5>
                                <span></span>
                            </div>
                            <div class="card-block">
                                <table id="demo-foo-filtering" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th data-breakpoints="xs">Nom et Prenom</th>
                                        <th data-breakpoints="xs">Type</th>
                                        <th data-breakpoints="xs">Adress</th>
                                        <th data-breakpoints="xs">E-mail</th>
                                        <th data-breakpoints="xs">Num Tel</th>
                                        <th data-breakpoints="xs">Nbr points</th>
                                        <th data-breakpoints="xs">Note</th>
                                    </tr>
                                    </thead>
                                    <tbody>




                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div id="styleSelector">
            </div>
        </div>
    </div>
{% endblock %}